.bg-beige {
  background-color: #EDEDEB;
}

.Price:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

.rouble {
  font-family: sans-serif;
}

.h3-5 {
  font-size: 1.125rem;
}

.W32 {
  max-width: 32rem
}

.W40 {
  max-width: 40rem;
}

.BR18 {
  border-radius: 18%;
}

.Script-font {
  font-family: "elina-web",serif;
}

@media (min-width: 52em) {
  .md-h1 {
    font-size: 4rem;
  }

  .md-h2 {
    font-size: 3.5rem;
  }

  .md-h3 {
    font-size: 1.5rem;
  }

  .md-mt8 {
    margin-top: 8rem;
  }

  .md-left-align {
    text-align: left;
  }
}
